.DS_Store
Thumbs.db

.idea
*.sublime*
.vscode

*.log*
node_modules/
vendor/
yarn.lock
package-lock.json
composer.lock
mix-manifest.json

.tmp
.sass-cache
*.iml
.project
.elasticbeanstalk/

cypress/videos/
cypress/screenshots/
.vercel
.phpcs.cache